@page "/"
@using Fixatic.Types
@using FixaticApp.Components.Tickets
@layout PublicLayout

<PageTitle>Fixatic</PageTitle>

@* !!! this page is for users that are NOT logged in !!! *@
@if (_load && _tickets != null)
{
    <div class="mt-5">
        <TicketsTable Tickets="@_tickets" />
    </div>
}